.login-div {
    display: flex;
    justify-content: center;
    background-image: url("D:/Downloads/pxfuel.jpg");
    background-size: 1500px;
    height: 658px;    
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 85px;
}

.login {
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    border: 2px solid black;
    width: 350px;
    height: 420px;
    padding: 15px;
    background-color: rgb(243, 243, 238);
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.content{
    display: flex;
    flex-direction: column;
    margin-top: 68px;
}

.username, .password{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.submit{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.submit button{
    width: 95px;
    height: 40px;
    border-radius: 4px;
}

.other{
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.message{
    display: flex;
    flex-direction: column;
}

.m{
    color: red;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
}

label{
    margin-right: 10px;
}

input{

}
