<app-main-header></app-main-header>
<div class="avg-div">
    <div class="container">
        <div class="values">
            <div class="title">
                <p>{{title}}</p>
            </div>
            <div class="avg">
                <div class="avg-val">
                    <p>Air temperature:&nbsp;&nbsp;</p>
                    <p>{{averageAirTemperature}}&nbsp;°C</p>
                </div>
                <div class="avg-val">
                    <p>Air humidity:&nbsp;&nbsp;</p>
                    <p>{{averageAirHumidity}}&nbsp;%</p>
                </div>
                <div class="avg-val">
                    <p>Soil moisture:&nbsp;&nbsp;</p>
                    <p>{{averageSoilMoisture}}&nbsp;%</p>
                </div>
            </div>
        </div>
    </div>
</div>