<nav class="navbar">
    <div class="logo">
        <p>{{title}}</p>
    </div>
    <ul class="nav-items" *ngIf="username !== null && username != 'admin'">
        <li><a href="/">Home</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/average-values">Average values</a></li>
        <li><a (click)="authService.logout()">LogOut</a></li>
    </ul>
    <ul class="nav-items" *ngIf="username !== null && username == 'admin'">
        <li><a (click)="authService.logout()">LogOut</a></li>
    </ul>
    <ul class="nav-items" *ngIf="username === null">
        <li><a href="/sign-up">SignUp</a></li>
        <li><a href="/log-in">LogIn</a></li>
    </ul>
</nav>